<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629138485951-crs1bfq4hcus2pi77p259srjn4kcncmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629138485951-crs1bfq4hcus2pi77p259srjn4kcncmv</string>
	<key>API_KEY</key>
	<string>AIzaSyCXOkgEMnTSY-GwYSORSwaRy5XcFC4Rcp8</string>
	<key>GCM_SENDER_ID</key>
	<string>629138485951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LottoProject</string>
	<key>PROJECT_ID</key>
	<string>lotto-tour-e9018</string>
	<key>STORAGE_BUCKET</key>
	<string>lotto-tour-e9018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629138485951:ios:197e5a7a240c0ffb2f0c0a</string>
</dict>
</plist>